
name: CI Build

on: [push, pull_request]

jobs:
  build-uclibc:
    name: Build libretro cores for Miyoo (musl)
    runs-on: ubuntu-22.04
    container:
      image: miyoocfw/toolchain-shared-musl
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        token: ${{ secrets.GH_PAT }}
    - name: build
      run: make SKIP_UNCHANGED=1 release
    - name: output "log/"
      run: |
        cat log/libretro-super.log
    - name: Check for git status
      id: status
      run: |
        git config --global --add safe.directory /__w/cores_miyoocfw/cores_miyoocfw
        echo "changes=$(git status -z --porcelain)" >> $GITHUB_OUTPUT
    - name: Push changes
      if: ${{ steps.status.outputs.changes }}
      run: |
        git config user.email "action@github.com"
        git config user.name "GitHub Actions"
        git status
        git add cores/*/build-revisions-latest/* \
         cores/*/latest/* \
         cores/*/latest/.index-extended
        git commit -m "Update Miyoo cores $(date) (musl)"
        git push